body {
    background-color: var(--neutral-base);
    /* background-image: linear-gradient(to bottom left, var(--secondary-clr), var(--primary-clr-100)); */
    background-repeat: no-repeat;
}

label {
    position: relative;
    font-weight: bold;
    color: var(--primary-base);
}

.form-content > label:has(+ .outer-input :is(.input)[required])::before {
    content: "*";
    color: var(--accent-base);
    font-size: 1.5rem;
}

#form .error {
    color: red;
    font-size: 1rem;
    opacity: 0.75;
    border: 1px solid red;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    background-color: rgb(255 0 0 / 0.25);
}

#form {
    margin-block: 5rem;
    background-color: white;
    isolation: isolate;
    position: relative;
}

/* #form::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -75%);

    background: radial-gradient(var(--accent-400), transparent);
    border-radius: 100%;
    aspect-ratio: 1/1;
    width: 175%;
    overflow: hidden;
    z-index: -1;
    filter: blur(7rem);
} */

body {
    min-height: 100vh;
}

main {
    display: grid;
    place-items: center;
    flex: 1;
}

#form {
    flex-direction: column;
    position: relative;
    isolation: isolate;
    display: flex;
    width: 100%;
    max-width: 30rem;
    gap: 1.5rem;
    border-radius: 0.5rem;
    color: black;
    overflow: hidden;
    box-shadow: 0 0 5rem rgb(0 0 0 / 0.3);
    border: 2px solid var(--primary-400);
    background-color: var(--neutral-400);
}

select::placeholder {
    display: none;
}

label,
.outer-input {
    cursor: pointer;
}

select.input {
    border: 2px solid #ccc;
    width: 100%;
    transition: 0.3s ease;
}

select.input:focus {
    border: 2px solid #eee;
}

.outer-input {
    background-color: #ccc;
    border: 2px solid #ccc;
    width: 100%;
    color: black;
    border-radius: 0.25rem;
    outline: none;
    transition: 0.3s ease;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#form [class^="fa"] {
    transition: 0.3s ease;
}

.input-icon {
    position: relative;
    display: block;
    margin-left: 1rem;
    display: grid;
    place-items: center;
    position: relative;
}

.outer-input:not(:has(.input[readonly])):focus-within .input-icon > :is(.fa, .fas, .fab) {
    opacity: 1;
    color: var(--accent-base);
}

.input-icon > :is(.fa, .fas, .fab) {
    color: rgb(0 0 0 / 0.5);
}

.input {
    padding: var(--padding-y) var(--padding-x);
    width: 100%;
    border: none;
    outline-color: transparent !important;
    border-width: 0;
    outline-width: 0;
    background-color: transparent;
}

.input::-webkit-file-upload-button {
    display: none;
}

.input::after {
    display: none;
}

select:is(::before, ::after) {
    display: none;
}

option {
    padding: var(--padding-y) var(--padding-x);
    outline: none;
    border: none;
}

button {
    transition: 0.3s ease;
}

:where(.outer-input, .input)::placeholder {
    color: black;
    opacity: 0.5;
}

#form button {
    margin-top: 1rem;
    color: white;
    /* padding: 0.5rem 2rem; */
    text-transform: capitalize;
    padding: var(--padding-y) var(--padding-x);
    background-color: var(--accent-base);
    outline: none;
    border: none;
    border-radius: 0.25rem;
    font-size: 1.15rem;
}

.outer-input:has(.input:not([readonly]):focus) {
    background-color: #eee;
    border-color: var(--accent-base);
}

#form button:where(:focus, :hover) {
    background-color: var(--accent-600);
    border-color: var(--accent--700);
    scale: 0.975;
}

#form .heading {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid var(--primary-400);
}

#form .form-content {
    display: flex;
    padding: 2rem;
    flex-direction: column;
    gap: 0.5rem;
}

#form .title {
    font-size: 1.75rem;
    font-weight: bold;
    text-align: center;
    color: var(--primary-400);
}

.outer-input:has(.input[readonly]),
.input[readonly] {
    /* pointer-events: none; */
    cursor: not-allowed;
    opacity: 0.5;
    user-select: none;
}

.preview {
    position: relative;
    display: grid;
    place-items: center;
    overflow: hidden;
    background-color: #eee;
    border: 2px dashed #b1b1b1;
    border-radius: 0.25rem;
    /* max-width: 100%; */
    /* aspect-ratio: 1 / 1; */
}

.preview-overlay {
    position: absolute;
    pointer-events: none;
    inset: 0;
    background-color: rgb(0 0 0 / 0.5);
    color: white;
    font-size: 1.2rem;
    font-weight: 200;
    display: grid;
    place-items: center;
    z-index: 2;
    opacity: 0;
    transition: 0.3s ease;
}

.preview-overlay > div {
    border: 1px solid white;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
}

.preview:where(:hover, :focus, :focus-within) .preview-overlay {
    opacity: 1;
}

.preview [data-img-preview] {
    position: relative;
    aspect-ratio: 1 / 1;
    margin-block: 1rem;
    width: 50%;
    height: auto;
    object-fit: contain;
}
