.breadcrumb {
    display: flex;
    font-size: 1.5rem;
    font-weight: bold;
    gap: 1rem;
    /* justify-content: center; */
    align-items: center;
}

.breadcrumb-item {
    text-transform: uppercase;
}

.breadcrumb-slash {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bolder;
}
